:root {
  --body-color: #f9edee;
  --card-background-color: #fea9a2;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  height: 150vh;
  background-color: #fff;
  padding: 0 4rem;
}

/* Hero Section */

.hero--section {
  border: 3px solid deeppink;
}

.hero--section,
.card--section {
  text-align: center;
}

.hero__para-1,
.hero__para-2 {
  font-size: 2rem;
}
.hero__heading {
  font-size: 3.5rem;
}

.hero__image {
  width: 100%;
  object-fit: cover;
}

.hero__border-line {
  display: block;
  /* width: 100%; */
  border: 0.2rem solid grey;
  margin: 4rem 40% 1rem 40%;
}

/* Card Section */

.card--section {
  background: #2e607b;
  color: #fff;
  padding: 4rem;
  margin: 0 2rem;
}

.card__heading {
  font-size: 2.5rem;
  font-weight: 400;
  margin: 0 0 5rem 0;
}

.card__para {
  font-size: 2rem;
}

.website--info,
.website__sub-info {
  padding-bottom: 2rem;
}

.website--info,
.article--section {
  text-align: center;
}

.website__sub-info {
  margin: 0 5rem;
  font-size: 1.2rem;
}

.website__sub-info-1 {
  margin-top: 2rem;
}

.btn__enroll {
  border: 0;
  border-radius: 7px;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 1.5rem 2.2rem;
  background-color: #4bc287;
  color: #fff;
}

/* Article Section */

.article__heading {
  font-size: 4rem;
  font-weight: 500;
}
.article--section {
  background-color: #f4f4f4;
}

.article__spacing {
  padding-bottom: 5rem;
}

.article__benifits-text {
  font-size: 1.5rem;
}
.article__benifits-list {
  font-size: 2.5rem;
}

.article__images {
  width: 70%;
  object-fit: cover;
}

@media screen and (min-width: 768px) {
  .hero__para-1,
  .hero__para-2 {
    font-size: 3rem;
  }
  .hero__heading {
    font-size: 5rem;
  }

  .card__heading {
    font-size: 3.5rem;
  }

  .card__para {
    display: flex;
    justify-content: space-around;
    font-size: 2.5rem;
  }

  .card__para__elements {
    margin: 0;
    padding: 2rem 0 2.5rem 0;
  }

  .card__border-line {
    border-left: 3px solid #fff;
    height: 150px;
    margin: 0 2rem;
  }

  /* sub--info--section */
  .website__sub-info {
    font-size: 2rem;
  }

  .btn__enroll {
    border-radius: 7px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 1.5rem 2.2rem;
    background-color: #4bc287;
    color: #fff;
  }

  /* articlee sectionn */

  .article__heading {
    font-size: 5rem;
  }

  .article__benifits {
    display: flex;
    justify-content: space-between;
  }

  .article__benifits-text {
    font-size: 1.5rem;
  }
  .article__benifits-list {
    font-size: 2.5rem;
  }

  .article__spacing {
    width: 33.3%;
  }

  .article__border-horizontal {
    border-right: 2px solid black;
    border-left: 2px solid black;
  }

  .article__border-bottom {
    border-bottom: 2px solid black;
  }
}

@media screen and (min-width: 990px) {
  /* Hero Section */

  .hero__para-1,
  .hero__para-2 {
    font-size: 3.5rem;
  }
  .hero__heading {
    font-size: 6rem;
  }

  /* card section */

  .card__border-line {
    border-left: 3px solid #fff;
    height: 230px;
    margin: 0 2rem;
  }

  .card__heading {
    font-size: 4.5rem;
  }

  .card__para {
    display: flex;
    font-size: 3.5rem;
  }

  .card__para__elements {
    margin: 0;
    padding: 2rem 0 2.5rem 0;
  }

  /* websitee sub--info */
  .website__sub-info {
    font-size: 3rem;
  }

  /* button--enroll */
  .btn__enroll {
    border-radius: 7px;
    font-size: 2rem;
    font-weight: 700;
    padding: 2rem 3rem;
    background-color: #4bc287;
    color: #fff;
  }
  /* article--heading */

  .article__heading {
    font-size: 6rem;
  }
}

@media screen and (min-width: 1240px) {
  .hero__para-1,
  .hero__para-2 {
    font-size: 4rem;
  }
  .hero__heading {
    font-size: 7rem;
  }

  /* card section */

  .card__heading {
    margin-bottom: 6rem;
  }

  /* articlee sectionn*/

  .article__heading {
    font-size: 7rem;
  }

  .article__benifits-text {
    font-size: 2rem;
  }
  .article__benifits-list {
    font-size: 3.5rem;
  }

  .article__spacing {
    width: 33.3%;
  }
}
