:root {
  --body-color: #f9edee;
  --card-background-color: #fea9a2;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  height: 150vh;
  background-color: #d9d9d9;
}

/* Hero Section */

.hero-section {
  background-image: url(/images/hero-images/Hero-Image.png);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.hero__para,
.section--element,
.btn__card-2 {
  color: #fff;
}

.hero__para {
  margin-top: 0;
  padding-top: 1.15rem;
  font-family: sans-serif;
  margin-left: 7rem;

  font-size: 5rem;
}

.hero__heading {
  display: block;
  font-weight: 600;
  font-size: 18.3rem;
  margin-bottom: 8rem;
}

/* Card Section */

.card__image-1 {
  width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.card__image-2 {
  width: 40%;
}

.card__header {
  text-align: center;
}

.card__header {
  margin-top: 5rem;
  font-size: 4rem;
  font-weight: 700;
}

.card__body {
  font-size: 2.5rem;
  font-weight: 600;
  padding: 1rem 4rem;
}

.card__secondary {
  margin-top: 8rem;
}
.list--items {
  margin-top: 4rem;
  text-align: start;
  font-size: 2.2rem;
  line-height: 1.5;
}

.btn__card-2 {
  background-color: transparent;
  font-size: 2.5rem;
  padding: 2rem;
  margin: 6rem 2rem;
  border: 1px solid #fff;
  cursor: pointer;
  color: #041a28;
  border-color: black;
}

.section--element {
  margin: 4rem 15rem 0.5rem 15rem;
  padding-top: 3rem;
  background-color: #041a28;
  width: auto;
  text-align: center;
}

.section__heading {
  font-size: 5rem;
  font-weight: 400;
  margin-bottom: 0;
}
.section__detail {
  margin-top: 2rem;
  margin-bottom: 0;
  font-size: 3rem;
  padding: 0;
}
.section__btn-1,
.section__btn-2 {
  margin-top: 4rem;
  margin-bottom: 5rem;
  padding-left: 3rem;
  padding-right: 3rem;
}
.section__btn-1 {
  color: #fff;
  border-color: #fff;
}

.section__btn-2 {
  background-color: #fff;
  color: #041a28;
}

.btn__card-2:hover {
  transition: 0.15s;
  color: dodgerblue;
  border-color: dodgerblue;
}

.section__btn-2:hover {
  background-color: transparent;
  border-color: dodgerblue;
}

.figure--image {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .card {
    display: flex;
    align-items: start;
    flex-direction: row;
    /* border: 3px solid tomato; */
  }

  .card__image-1 {
    width: 30%;
    padding-top: 2rem;
  }

  .card__div-2 {
    width: 60%;
  }

  .card__header {
    font-size: 6rem;
    padding-bottom: 1.5rem;
  }

  .card-2__header {
    font-size: 7rem;
  }
}
