<article class="article--section">
  <div class="card card__primary">
    <img
      src="/images/card-images/card-image-1.png"
      alt="..."
      class="card__image-1"
    />

    <div class="card__div-2">
      <header class="card__header">Startup</header>
      <div class="card__body">
        A strong business starts with a strong business idea. you can avail
        oportunity by having an idea that can make this world a better place. We
        provides free consultancy & investments for startups.

        <ul class="list--items">
          <li>Startup Ideas</li>
          <li>Marketing Strategy</li>
          <li>Financial Analysis</li>
          <li>Business Growth</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="card card__secondary">
    <div class="card__div-2">
      <header class="card__header card-2__header">Story About Us</header>
      <div class="card__body">
        A strong business starts with a strong business idea. you can avail
        oportunity by having an idea that can make this world a better place. We
        provides free consultancy & investments for startups.
        <br />
        <button class="btn__card-2">Learn More</button>
      </div>
    </div>
    <img
      src="/images/card-images/card-image-2.png"
      alt="..."
      class="card__image-1"
    />
  </div>
</article>
